@import '../../cssVariables.scss'; 

#countdownSection{
	background-color:#ebf3ea;
	font-family: $heading-font;
	h2{
		font-size: 1.6em;
		color: #5e5e5e;
	}
	h5{
		color: #138b87;
		font-size:3.3em;
	}
	h6{
		color: #138b87;
		font-size:1em;
		margin-bottom: 30px;
	}
	.cd-timer{
		@media only screen and (max-width:767px){
			max-width: 360px;
			margin:0 auto;
		}
	}
}