<section id="countdownSection">
	<div class="container">
		<div class="row cd-timer text-center">
			<h2 class="col-xs-12">are getting married in</h2>
			<div class="col-sm-2 col-md-4 hidden-xs"></div>
			<div class="col-xs-3 col-sm-2 col-md-1">
				<h5 id="cDays"></h5>
				<h6>days</h6>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1">
				<h5 id="cHours"></h5>
				<h6>hours</h6>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1">
				<h5 id="cMins"></h5>
				<h6>minutes</h6>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1">
				<h5 id="cSecs"></h5>
				<h6>seconds</h6>
			</div>
			<div class="col-sm-2 col-md-4 hidden-xs"></div>
		</div>
	</div>
</section>
