<section id="summarySection">
	<div class="container">
		<div class="row">
			<div class="col-md-1 col-lg-2 hidden-xs hidden-sm"></div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 sumLeft">
				<img src="/assets/images/groom.jpg" alt="Augustus">
				<h2>Augustus<br><small>Waters</small></h2>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-2 text-center sumCenter">
				<img src="/assets/images/weds.png" alt="Weds">
				<h4>On<br>September 5, 2017</h4>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 sumRight">
				<img src="/assets/images/bride.jpg" alt="Hazel">
				<h2>Hazel<br><small>Lanchaster</small></h2>
			</div>
			<div class="col-md-1 col-lg-2 hidden-xs hidden-sm"></div>
		</div>
	</div>
</section>

<section id="whenwemetSection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
				<h2 class="sectionHeading">When We Met</h2>
			</div>
		</div>
		<img src="/assets/images/when-we-met.png" alt="" class="center-block wwm-title-img">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-5 col-lg-offset-1 wwm-groom-img">
				<img src="/assets/images/groom-lg.jpg" alt="Augustus" class="img-responsive center-block">
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-5">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>
		<br class="hidden-sm hidden-md hidden-lg"><br class="hidden-sm hidden-md hidden-lg">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-5 wwm-bride-img">
				<img src="/assets/images/bride-lg.jpg" alt="Hazel" class="img-responsive center-block">
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-5 col-lg-offset-2">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>
	</div>
</section>
